@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom */
:root {
  --max-width: 1100px;
}

html, body, #root {
  height: 100%;
}

body {
  @apply bg-gray-50 text-gray-800 font-sans;
}

/* small utility */
.container {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
